@page
@using SpeedMeasuremetRazor.Models
@using Microsoft.Extensions.Options
@model SpeedMeasuremetRazor.Pages.Measurements.CreateSpeedMeasurementModel
@{
}
<h1 class="center">Create Speed measurement</h1>
<img class="center" src="~/Images/viewfinder.JPG" />
<div class="center" style="padding-top: 30px">
    
    @{
        if (Model.InvalidPost != null && Model.InvalidPost.Length > 0)
        {
            <p class="RedError">@Model.InvalidPost</p>
        }
    }
    <form method="post">
        <div class="form-group selectbar-measurement">
            <p>Choose a location</p>
            <select asp-for="@Model.LocationId" asp-items="@Model.Options" class="form-control">
            </select>
        </div>
        <div>
            <button style="display:inline-block"><img class="ImageCamera" src="~/Images/camera-button.png" /></button>
            
        </div>

    </form>
</div>
<p class="center">Look in the viewfinder and push the button</p>