@page
@using SpeedMeasuremetRazor.Helpers
@model IndexModel
@{
    ViewData["Title"] = "SpeedMeasurementSystem";
}

<img class="center RoundedImage" src="/Images/policecar.jpg" style="max-height: 500px"/>
<div class="center2" style="padding-top:30px">
    <h2>Welcome</h2>
    <p>Some infomative text</p>
</div>